<section class="alt-section section-work">
  <!-- <h3 id="work">Work</h3> -->
  <div class="face-lockup">
    <div class="face-img"></div>
    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>
  </div>

  <div class="work-belt">
    <div class="thumb-wrap">
      <div class="thumb-container">
        <div class="column">
          {% for project in site.data.portfolio.projects1 %}
          {% if project.bg == 'true' %}
            <a class="thumb-unit {{project.class}} {{project.animation}}" data-folder = "{{project.folder}}" style="background-image: url(assets/images/work/{{project.folder}}/thumb.jpg);">
          {% elsif project.bg == 'false' %}
            <a class="thumb-unit {{project.class}} {{project.animation}}" data-folder = "{{project.folder}}" style="background: {{project.color}};">
          {% endif %}
          {% if project.animation == 'slideTextRight' %}
            <div><i class="fa {{project.animation-icon}} "></i></div>
            <div>
              <strong>{{ project.name }}</strong>
              <div class="zoom-icon"></div>
            </div>
          {% elsif project.animation == 'glow' %}
          <div style="background-color:{{project.color}}; color:{{project.hover-color}};"
               onMouseOver="$(this).css({'background-color' : '{{project.hover-color}}', 'color' : '{{project.color}}'})"
               onmouseout="$(this).css({'background-color' : '{{project.color}}', 'color' : '{{project.hover-color}}'})">
            <p><i class="fa {{project.animation-icon}}"></i> <strong>{{project.name}}</strong> </p>
          </div>
          {% elsif project.animation == 'figTile' %}
          <div>
            <figure>
              <figcaption class="tile-caption caption-left"><strong>{{project.name}}</strong></figcaption>
            </figure>
          </div>
          {% elsif project.animation == 'rotate3dAnim' %}
          <div class="faces">
            <div class="front"><span class="fa {{project.animation-icon}}"></span></div>
            <div class="back"><p><strong>{{project.name}}</strong></p></div>
          </div>
          {% elsif project.animation == 'awesome' %}
          <div>
            <div class="zoom-icon"></div>
          </div>
          <div>
            <strong>{{ project.hoverName }}</strong>
            <div class="zoom-icon"></div>
          </div>
          {% else %}
            <div>
              <strong>{{ project.name }}</strong>
              <div class="zoom-icon"></div>
            </div>
            <div>
              <span>{{ project.hoverName }}</span>
              <div class="zoom-icon"></div>
            </div>
          {% endif %}
            </a>
          {% endfor%}
        </div>
        <div class="column">
          {% for project in site.data.portfolio.projects2 %}
          {% if project.bg == 'true' %}
            <a class="thumb-unit {{project.class}} {{project.animation}}" data-folder = "{{project.folder}}" style="background-image: url(assets/images/work/{{project.folder}}/thumb.jpg);">
          {% elsif project.bg == 'false' %}
            <a class="thumb-unit {{project.class}} {{project.animation}}" data-folder = "{{project.folder}}" style="background: {{project.color}};">
          {% endif %}
          {% if project.animation == 'slideTextRight' %}
            <div><i class="fa {{project.animation-icon}} "></i></div>
            <div>
              <strong>{{ project.name }}</strong>
              <div class="zoom-icon"></div>
            </div>
          {% elsif project.animation == 'glow' %}
          <div style="background-color:{{project.color}}; color:{{project.hover-color}};"
               onMouseOver="$(this).css({'background-color' : '{{project.hover-color}}', 'color' : '{{project.color}}'})"
               onmouseout="$(this).css({'background-color' : '{{project.color}}', 'color' : '{{project.hover-color}}'})">
            <p><i class="fa {{project.animation-icon}}"></i> <strong>{{project.name}}</strong> </p>
          </div>
          {% elsif project.animation == 'figTile' %}
          <div>
            <figure>
              <figcaption class="tile-caption caption-left"><strong>{{project.name}}</strong></figcaption>
            </figure>
          </div>
          {% elsif project.animation == 'rotate3dAnim' %}
          <div class="faces">
            <div class="front"><span class="fa {{project.animation-icon}}"></span></div>
            <div class="back"><p><strong>{{project.name}}</strong></p></div>
          </div>
          {% elsif project.animation == 'awesome' %}
          <div>
            <div class="zoom-icon"></div>
          </div>
          <div>
            <strong>{{ project.hoverName }}</strong>
            <div class="zoom-icon"></div>
          </div>
          {% else %}
            <div>
              <strong>{{ project.name }}</strong>
              <div class="zoom-icon"></div>
            </div>
            <div>
              <span>{{ project.hoverName }}</span>
              <div class="zoom-icon"></div>
            </div>
          {% endif %}
            </a>
          {% endfor%}
        </div>
        <div class="column">
          {% for project in site.data.portfolio.projects3 %}
          {% if project.bg == 'true' %}
            <a class="thumb-unit {{project.class}} {{project.animation}}" data-folder = "{{project.folder}}" style="background-image: url(assets/images/work/{{project.folder}}/thumb.jpg);">
          {% elsif project.bg == 'false' %}
            <a class="thumb-unit {{project.class}} {{project.animation}}" data-folder = "{{project.folder}}" style="background: {{project.color}};">
          {% endif %}
          {% if project.animation == 'slideTextRight' %}
            <div><i class="fa {{project.animation-icon}} "></i></div>
            <div>
              <strong>{{ project.name }}</strong>
              <div class="zoom-icon"></div>
            </div>
          {% elsif project.animation == 'glow' %}
          <div style="background-color:{{project.color}}; color:{{project.hover-color}};"
               onMouseOver="$(this).css({'background-color' : '{{project.hover-color}}', 'color' : '{{project.color}}'})"
               onmouseout="$(this).css({'background-color' : '{{project.color}}', 'color' : '{{project.hover-color}}'})">
            <p><i class="fa {{project.animation-icon}}"></i> <strong>{{project.name}}</strong> </p>
          </div>
          {% elsif project.animation == 'figTile' %}
          <div>
            <figure>
              <figcaption class="tile-caption caption-left"><strong>{{project.name}}</strong></figcaption>
            </figure>
          </div>
          {% elsif project.animation == 'rotate3dAnim' %}
          <div class="faces">
            <div class="front"><span class="fa {{project.animation-icon}}"></span></div>
            <div class="back"><p><strong>{{project.name}}</strong></p></div>
          </div>
          {% elsif project.animation == 'awesome' %}
          <div>
            <div class="zoom-icon"></div>
          </div>
          <div>
            <strong>{{ project.hoverName }}</strong>
            <div class="zoom-icon"></div>
          </div>
          {% else %}
            <div>
              <strong>{{ project.name }}</strong>
              <div class="zoom-icon"></div>
            </div>
            <div>
              <span>{{ project.hoverName }}</span>
              <div class="zoom-icon"></div>
            </div>
          {% endif %}
            </a>
          {% endfor%}
        </div>

      </div>
    </div>
    <div class="work-wrap">
      <div class="work-container">
        <div class="work-return">
          {% include icons/icon-back.html %}
        </div>
        <h4 class="project-title"></h4>
        <div class="project-load">

        </div>
      </div>
    </div>
  </div>
</section>
