<section class="alt-section section-work">
  <!-- <h3 id="work">Work</h3> -->
  <i class="fa fa-camera-retro"></i> fa-camera-retro
  <div class="face-lockup">
    <div class="face-img"></div>
    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>
  </div>

  <div class="work-belt">
    <div class="thumb-wrap">
      <div class="thumb-container">
        <div class="column">
          {% for project in site.data.portfolio.projects1 %}
          {% if project.bg == 'true' %}
            <a class="thumb-unit {{project.class}}" data-folder = "{{project.folder}}" style="background-image: url(/assets/images/work/{{project.folder}}/thumb.jpg);">
          {% elsif project.bg == 'false' %}
            <a class="thumb-unit {{project.class}}" data-folder = "{{project.folder}}" style="background-color: {{project.color}};">
          {% endif %}
              <div class="overlay">
                <strong>{{ project.name }}</strong>
                <div class="zoom-icon"></div>
              </div>
            </a>
          {% endfor%}
        </div>
        <div class="column">
          {% for project in site.data.portfolio.projects2 %}
          {% if project.bg == 'true' %}
            <a class="thumb-unit {{project.class}}" data-folder = "{{project.folder}}" style="background-image: url(/assets/images/work/{{project.folder}}/thumb.jpg);">
          {% elsif project.bg == 'false' %}
            <a class="thumb-unit {{project.class}}" data-folder = "{{project.folder}}" style="background-color: {{project.color}};">
          {% endif %}
              <div class="overlay">
                <strong>{{ project.name }}</strong>
                <div class="zoom-icon"></div>
              </div>
            </a>
          {% endfor%}
        </div>
        <div class="column">
          {% for project in site.data.portfolio.projects3 %}
          {% if project.bg == 'true' %}
            <a class="thumb-unit {{project.class}}" data-folder = "{{project.folder}}" style="background-image: url(/assets/images/work/{{project.folder}}/thumb.jpg);">
          {% elsif project.bg == 'false' %}
            <a class="thumb-unit {{project.class}}" data-folder = "{{project.folder}}" style="background-color: {{project.color}};">
          {% endif %}
              <div class="overlay">
                <strong>{{ project.name }}</strong>
                <div class="zoom-icon"></div>
              </div>
            </a>
          {% endfor%}
        </div>

      </div>
    </div>
    <div class="work-wrap">
      <div class="work-container">
        <div class="work-return">
          {% include icons/icon-back.html %}
        </div>
        <h4 class="project-title">Thumb 1</h4>
        <div class="project-load">

        </div>
      </div>
    </div>
  </div>
</section>
